<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Text Module Integration Test" verbose="1">
	<test name="TextModuleTest">
		<classes>
			<class name="at.jku.isse.ecco.adapter.text.test.TextModuleTest"/>
		</classes>
	</test>
	<test name="Text">
		<groups>
			<run>
				<include name="integration"/>
			</run>
		</groups>
		<packages>
			<package name="at.jku.isse.ecco.text.test"/>
		</packages>
	</test>
</suite>
