.navbar {
	background: white !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
}

main {
	padding-top: 32px;
	padding-bottom: 32px;
}

.features {
	line-height: 180%;
}

.thumbnail img {
	max-height: 100%;
	max-width: 100%;
}

#journals .list-group-item {
	border-left-width: 10px;
	border-left-color: #c32b72;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#journals .list-group-item:hover {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#conferences .list-group-item {
	border-left-width: 10px;
	border-left-color: #196ca3;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#conferences .list-group-item:hover {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#workshops .list-group-item {
	border-left-width: 10px;
	border-left-color: #19a31b;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#workshops .list-group-item:hover {
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
