<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Java Module Integration Test" verbose="1">
    <test name="Java">
        <groups>
            <run>
                <include name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="at.jku.isse.ecco.adapter.java.test"/>
        </packages>
    </test>
</suite>
