.gradle
.idea
*.iml
.classpath
.project
.settings
build
out
bin
*.iws
*.ipr
*.db
*.png
*.jar
u
ui
test-output
/adapter/at.jku.cdl.ecco.adapter.java-patched/
/adapter/java-patched/
adapter-java-patched
/serverRepositories
/adapter/xml/*
/adapter/eplan/*
