
body {
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 10px;
	padding-right: 10px;
}


.features {
	line-height: 180%;
}

.thumbnail img {
	max-height: 100%;
	max-width: 100%;
}

@keyframes journal_highlight {
	0% {
		background: #c32b72;
	}
	100% {
		background: none;
	}
}
#journals a:target {
	animation: journal_highlight 2s;
}
#journals .list-group-item {
	border-left-width: 10px;
	border-left-color: #c32b72;
}

@keyframes conference_highlight {
	0% {
		background: #196ca3;
	}
	100% {
		background: none;
	}
}
#conferences a:target {
	animation: conference_highlight 2s;
}
#conferences .list-group-item {
	border-left-width: 10px;
	border-left-color: #196ca3;
}

@keyframes workshop_highlight {
	0% {
		background: #196ca3;
	}
	100% {
		background: none;
	}
}
#workshops a:target {
	animation: workshop_highlight 2s;
}
#workshops .list-group-item {
	border-left-width: 10px;
	border-left-color: #196ca3;
}



