<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Service Integration Tests" verbose="1">
	<test name="Service">
		<groups>
			<run>
				<include name="integration"/>
			</run>
		</groups>
		<packages>
			<package name="at.jku.isse.ecco.test"/>
		</packages>
	</test>
</suite>
