<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Base Integration Test" verbose="1">
	<test name="DispatcherTest">
		<classes>
			<class name="at.jku.isse.ecco.test.DispatcherTest"/>
		</classes>
	</test>
	<test name="Base">
		<groups>
			<run>
				<include name="integration"/>
			</run>
		</groups>
		<packages>
			<package name="at.jku.isse.ecco.test"/>
		</packages>
	</test>
</suite>
