<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="File Module Integration Test" verbose="1">
	<test name="FileModuleTest">
		<classes>
			<class name="at.jku.isse.ecco.file.test.FileModuleTest"/>
		</classes>
	</test>
	<test name="File">
		<groups>
			<run>
				<include name="integration"/>
			</run>
		</groups>
		<packages>
			<package name="at.jku.isse.ecco.file.test"/>
		</packages>
	</test>
</suite>
