<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="{{ "css/bootstrap/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "css/styles.css" | relative_url }}">

    <script src="{{ "js/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{{site.baseurl}}">{{site.name}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for item in site.data.pages.docs %}
                    <li class="nav-item"><a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url | relative_url }}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
    </footer>

</body>

</html>
