<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="{{site.baseurl}}css/styles.css">

    <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap/bootstrap-theme.min.css">
<!--
    <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.darkly.min.css">
-->
    <script src="{{site.baseurl}}js/jquery-2.2.2.min.js"></script>
    <script src="{{site.baseurl}}js/bootstrap/bootstrap.min.js"></script>

<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->
</head>

<body>

    <header>
    </header>

    <nav class="navbar navbar-default navbar-fixed-top dark">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}">{{ site.name }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for item in site.data.pages.docs %}
                    <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                    <!--<li class="{% if page.active == 'news' %}active{% endif %}"><a href="{{site.baseurl}}">News</a></li>
                    <li class="{% if page.active == 'about' %}active{% endif %}"><a href="{{site.baseurl}}">About</a></li>
                    <li class="{% if page.active == 'publications' %}active{% endif %}"><a href="{{site.baseurl}}publications">Publications</a></li>
                    <li class="{% if page.active == 'showcase' %}active{% endif %}"><a href="{{site.baseurl}}showcase">Showcase</a></li>
                    <li class="{% if page.active == 'tool' %}active{% endif %}"><a href="{{site.baseurl}}tool">Tool</a></li>-->
                </ul>
            </div>

        </div>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
    </footer>

</body>

</html>
