.tree-cell:filled:ambiguous-feature {
    -fx-background: #ff5f00;
}
.tree-cell:filled:ambiguous-feature-resolved {
    -fx-background: #01ae00;
}
.tree-view:selected-tree {
    -fx-border-color: blue;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}

.text-field:selected-value {
    -fx-border-color: blue;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}