name: Gradle Build

on:
  pull_request:
    branches:
      - "main"
      - "master"
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        path: main

    - name: Checkout DesignSpace SDK
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        repository: meik99/DesignSpace-4.0-Java-SDK.git
        token: ${{ secrets.SDK_TOKEN }}
        ref: main
        path: sdk

    - name: Setup JDK 20
      uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
      with:
        java-version: 20
        distribution: oracle
        cache: gradle

    - name: Install Protoc
      run: |
        curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v3.3.0/protoc-3.3.0-linux-x86_64.zip"
        sudo unzip protoc-3.3.0-linux-x86_64.zip -d /usr/

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Install SDK to local maven repository
      run: |
        pushd sdk
        mvn -Dmaven.test.failure.ignore=true  clean install
        popd

    - name: Setup Gradle
      uses: gradle/gradle-build-action@982da8e78c05368c70dac0351bb82647a9e9a5d2 # v2.11.1

    - name: Execute Gradle build
      run: |
        pushd main
        ./gradlew build
        ./gradlew test
        ./gradlew combinedjavadoc
        ./gradlew combinedWindowsZip
        ./gradlew combinedLinuxZip
        ./gradlew combinedrpm
        ./gradlew combineddeb
        popd
