name: release

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-java@v1
        with:
          java-version: 13
      - run: |
          ./gradlew build
          ./gradlew combinedjavadoc
          ./gradlew combinedWindowsZip
          ./gradlew combinedLinuxZip
          ./gradlew combinedrpm
          ./gradlew combineddeb
      - env:
          GITHUB_TOKEN: ${{github.token}}
          GITHUB_PACKAGES_URL: https://maven.pkg.github.com/${{github.repository}}
        run: |
          ./gradlew -Pversion=$(echo "${{github.ref}}" | cut -d "/" -f3) publishEccoMavenPublicationToGitHubPackagesRepository
      - uses: actions/upload-artifact@v1
        with:
          name: javadoc
          path: build/docs/javadoc
      - uses: actions/upload-artifact@v1
        with:
          name: zip
          path: build/distributions/zip
      - uses: actions/upload-artifact@v1
        with:
          name: rpm
          path: build/distributions/rpm
      - uses: actions/upload-artifact@v1
        with:
          name: deb
          path: build/distributions/deb
      - run: |
          cd build/docs
          zip -r javadoc.zip javadoc
      - uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{github.token}}
        with:
          upload_url: ${{github.event.release.upload_url}}
          asset_path: build/docs/javadoc.zip
          asset_name: javadoc.zip
          asset_content_type: application/zip
